#event_page {
  background: rgb(97,65,189);
  background: radial-gradient(circle, rgba(97,65,189,1) 30%, rgba(28,19,55,1) 100%);
  header {
    background-image: url("../images/event_page_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }

  .about_event {
    padding: 3em 0;
    h2 {
      color: #009DFF;
      font-size: 2.5em;
    }

    p {
      color: #fff;
      font-size: 1.3em;
    }

  }

  .event_comments {
    margin: 5em 0;
    position: relative;

    .swiper-comments {
      overflow: hidden;
      }

    #leftClick {
      position: absolute;
      top: 50%;
      left: 5%;
      z-index: 10;
    }

    #rightClick {
      position: absolute;
      top: 50%;
      right: 5%;
      z-index: 10;
    }

    }
    .comment {
      width: 400px;
      background-color: #009DFF;
      padding: 2em;

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        i {
          font-size: 1.5em;
        }
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: unset;
      }

      p {
        margin-top: 3em;
        text-align: justify;
      }
    }
}
