#login_body{
    background-image:url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    padding-top: 10em;
    padding-bottom: 10em;
    #login-form{
        background-color: #009DFF;
        width: 55%;
        padding: 3em;
        color: white;

        .form-label{
            font-size: 1.3em;
        }

        .btn{
            background-color: #BD1EB8;;
            float: right;
            margin-top: 1em;
            font-size: 1.2em;
            padding: 0.2em 2em;
        }

        #forgot-password {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
@include media-breakpoint-down(xl) {
    .login{
        flex-direction: column;
        .loginPic{
            img{
                display: none;
            }
        }
        #login-form{
            width: 100%;
        }

        #forgot_password_form{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .login{
        .login-actions{
            display: flex;
            flex-direction: column;
            gap: 0.8em;
        }
        #forgot_password_form{
            text-align: center;
        }
    }
}



