#login_body{
    background-image:url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    padding-top: 10em;
    padding-bottom: 10em;
    #login-form{
        background-color: #009DFF;
        width: 55%;
        padding: 3em;
        color: white;

        .form-label{
            font-size: 1.3em;
        }

        .btn{
            background-color: #BD1EB8;;
            float: right;
            margin-top: 1em;
            font-size: 1.2em;
            padding: 0.2em 2em;
        }

        #forgot-password {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .login{
        width: 100%;
        .loginPic{
            img{
                display: none;
            }

        }
    }
}



