.navbar {
  z-index: 998;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  background-color: #6141BD80;
    .container-fluid {
        justify-content: end;
    }
}

.navbar-nav {
    gap:15px;

   
}



.links {
    .nav-link {
        color:#fff;
    }
}

.buttons {
    
    .create_event_btn, .log_in_btn {
        background-color: #009DFF;
        border-radius: 5px;

        .nav-link {
            color:#fff;
        }
        
      }
      
      .sign_up_btn {
        background-color: #5EDFFF;
        border-radius:5px;
        color:#fff;
        
        .nav-link {
            color:#fff;
        }
      }
}

.navbar_index {
    position: absolute;
    left: 0;
    right: 0;
  background-color: #6141BD80;
   }


@include media-breakpoint-down(lg) { 
    .navbar-nav {
        .nav-link {
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .create_event_btn, .log_in_btn, .sign_up_btn { 
            width: 30%;
           
        }

    }
 }

