#center_form {
  background: radial-gradient(#FF19F2, #730770);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .switch {
    display: flex;
    align-items: center;
    gap: 1em;
  }


}

@include media-breakpoint-down(lg) {
  .sign_up {
    justify-content: center !important;
  }

  .form {
    width: 100%;

    form {
      padding: 30px;
    }
  }



}



