#sign_up_body {
   
    background-image:url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.hero_sign_up {

    padding: 100px 0;

    .content {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .picture {
        display: flex;
        justify-content: center;
    }

 
    .form {
        width: 60%;

        form {
            padding:30px 55px;
            background-color: #009DFF;
            height: 100%;
           
            .form-group {
                padding:15px 0;
    
                label {
                    color: #FFFFFF;
                    font-size: 24px;
                    padding:5px 0;
                }
    
                input::placeholder {
                    color:#009DFF;
                }
            }
    
            .sign_up {
                display: flex;
                justify-content: end;
                padding:15px 0;
                .btn {
                    background-color: #BD1EB8;
                    color:#fff;
                    padding:6px 40px;
                    font-size: 18px;
                   
                }
            }
    
            .log_in {
                font-size: 24px;
                padding:15px 0;
    
                span {
                    color:#FFFFFF;
                }
    
                a {
                    text-decoration: none;
                    color:#5EDFFF;
                }
            }
        }
    }
    
}





 @include media-breakpoint-down(lg) {
    .hero_sign_up {
        padding: 50px 0;

        .content {
            gap: 10px;
            flex-direction: column;
        }

        form {
            order: 1;
            
        }

        .picture {
            order: 2;
            padding: 0;
        }

        .form {
            padding: 0;
            width: 100%;
        }
    }
 }


 @include media-breakpoint-down(md) { 
    .hero_sign_up {
        form {
            .sign_up {
                justify-content: center;
                padding: 30px 0;
            }

            .form-group {
                label {
                    font-size: 17px;
                }
            }

            .log_in {
                font-size: 18px;
                text-align: center;
            }
        }
    }
  }

  @include media-breakpoint-down(sm) {
    .hero_sign_up {
        padding: 0;

       

        form {
            padding: 30px;
        }

       .picture {
        img {
            width: 70%;
        }
       }
    }
  } 