.events{
  position: relative;
  .swiper{
    width: 70%;
    .swiper-wrapper{
      .swiper-slide{
        border-radius: 1.1em;
        gap: 10em;
        img{
          border-top-left-radius: 1.1em;
          border-top-right-radius: 1.1em;
          width: 400px;
          height: 200px;
          padding: 0;
        }
        width: 400px;
        background-color: #009DFF;

        .event-short-info{
          padding: 1.5em;
        }

        #view-more{
          color: white;
          text-decoration: none;
          transition: 0.4s ease-in-out;
          &:hover{
            text-decoration: underline;
          }
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  #leftClick{
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 5%;
  }

    #rightClick{
      z-index: 99;
      position: absolute;
      top: 50%;
      right: 5%;
    }
  }


@include media-breakpoint-down(md) {
  .events {
    #leftClick, #rightClick {
      position:unset;
    }

    .swiper-buttons {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .events {
    .swiper {
      width: 100%;

      .swiper-wrapper .swiper-slide {
        width: 300px;

        img {
          width: 300px;
        }
    }
    }
  }
}

