.heading{
  background-image: url("../images/userdashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.main-user-section{
  background: radial-gradient(#FF19F2, #730770);
  background-size: cover;
}

.created-by-user{
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .usr-ev {
    padding: 1em;
    background-color: #009DFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .event-data{
      display: flex;
      gap: 1.5em;
      align-items: center;
      font-size: 0.9em;
      img{
        width: 200px;
        height: 120px;
      }
    }
  }
}

.user-profile-guests {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

#user-profile-footer{
  margin: 0;
}