.heading{
  background-image: url("../images/userdashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.main-user-section{
  background: radial-gradient(#FF19F2, #730770);
  background-size: cover;
}

#user-footer{
  margin: 0;
}