#wish-list {
  background: radial-gradient(#FF19F2, #730770);
}

.wish-list {
  margin-top: 4em;
}


@include media-breakpoint-down(sm) {
  #center_form, #wish-list {
    .btn-form {
      justify-content: center;
    }
  }
}