body {
    background-image:url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.hero {
    padding:100px;
}

.form {
    background-color: #009DFF;
}
