@import "../node_modules/bootstrap/scss/bootstrap";
@import "navigation_bar";
@import "sign_up";
@import "login.scss";
@import "_footer.scss";
@import "_index.scss";
@import "_event.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbarSupportedContent {
    gap: 15px;
}

.user {
    display: flex;
    justify-content: center;
    img {
        width: 50px;
        height: 50px;

    }
}


