@import "../node_modules/bootstrap/scss/bootstrap";
@import "navigation_bar";
@import "sign_up";
@import "login.scss";
@import "_footer.scss";
@import "_index.scss";
@import "_event.scss";
@import "_user_profile";
@import "_swiper-element";
@import "_reset_form";
@import "_event_page";
@import "_send-invitation";
@import "_event_invitation";
@import "_wish_list";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oxygen', sans-serif;
}

#navbarSupportedContent {
    gap: 15px;
}

.user {

    display: flex;
    justify-content: center;

    img {
        width: 50px;
        height: 50px;

    }
}

.btn-form {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.error {
    color: #f00;
    font-size: 1em;
    display: block;
    padding-top: 0.5em;
}

@include media-breakpoint-down(sm) {
   .error {
       font-size: 0.85em;
   }
}
