@import "../node_modules/bootstrap/scss/bootstrap";
@import "navigation_bar";
@import "sign_up";
@import "login.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


