# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#files
/gulpfile.js
/package.json
/package-lock.json
/admin/gulpfile.js

#folders
/sass/
/node_modules/
/database/
